.modal_window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	.modal_shim {
		position: absolute;
		background-color: white;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&.modal_photo {
		background-color: white;
		.modal_image {
			display: block;
			margin: auto;
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.scroll-bar {
			display: none !important;
		}
		.overview {
			width: 100%;
		}
		.prev,
		.next {
			@extend %arrows;
			width: 30px;
			height: 25px;
			background-position: center center;
			top: 50%;
			z-index: 5;
		}
		.prev {
			transform: translateY(-50%);
			left: $pad
		}
		.next {
			transform: rotate(180deg) translateY(50%);
			right: $pad;
		}
	}
	.modal_content {
		z-index: 1;
		position: relative;
		height: 100%;
		.modal_wrapper {
			//padding: 100px 0 50px 0;
			height: 100%;
		}
		.wrapper {
			position: relative;
			height: 100%;
			overflow: hidden;
		}
		.big_h {
			padding-top: 100px;
			padding-bottom: $pad
		}
		p.text {
			text-align: center;
			line-height: 150%;
			font-size: $fs_16;
			color: $font_soft;
			padding-bottom: 10px;
		}
		.modal_grid {
			margin: 0 -$pad/2;
			text-align: center;
			font-size: 0;
			.cell {
				display: inline-block;
				width: 340px;
				height: 375px;
				margin: 50px $pad/2 $pad/2 $pad/2;
				.bg_img {
					@extend %bg_img;
					@extend .left-diag-rad;
					position: relative;
					width: 100%;
					height: 200px;
					margin-bottom: $pad;
					overflow: hidden;
					img {
						display: none;
					}
				}
				.small_h {
					text-align: left;
					margin-bottom: $pad;
					line-height: 150%;
				}
				p {
					text-align: left;
					font-size: $fs_16;
					line-height: 120%;
					margin-bottom: $pad;
					line-height: 150%;
					color: $font_soft;
					white-space: pre-line;
				}
				.price {
					width: 100%;
					display: block;
					font-family: Medium;
					font-weight: 600;
					font-size: $fs_18;
					text-align: left;
					white-space: pre-line;
					span {
						vertical-align: top;
					}
					li {
						display: block;
						transform: translateY(-100%);
						padding-left: 80px;
						margin-bottom: 5px;
					}
				}
			}
		}
		.bottom {
			padding-bottom: 100px;
			.big_h {
				padding-top: 40px;
				padding-bottom: $pad;
			}
			p {
				padding-bottom: $pad;
				text-align: center;
			}
		}
		.scroll-bar {
			position: fixed;
			width: 20px;
			right: 10px;
			top: 100px;
			bottom: 50px;
			z-index: 1;
			cursor: pointer;
			height: auto !important;
			&:before {
				@extend %scroll;
				content: '';
				position: absolute;
				width: 3px;
				height: 100%;
				left: 0;
				right: 0;
				margin: auto;
			}
			.thumb {
				position: relative;
				width: 100%;
				&:before {
					content: '';
					@extend %thumb;
					position: absolute;
					width: 3px;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
		.close {
			position: fixed;
			right: 5px;
			top: 20px;
			width: 30px;
			height: 30px;
			background-image: url(../images/icon_close_big.png);
			background-size: contain;
			background-position: center;
			cursor: pointer;
		}
	}
	.transparent_shim {
		background-color: rgba(0, 0, 0, 0.65);
	}
	.container {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		width: 560px;
		border-radius: $border-rad;
		background-color: white;
		padding: 30px $pad $pad $pad;
		margin: auto;
		@extend %clear;
		.mid_h {
			text-align: center;
		}
		p {
			text-align: center;
			color: $font_soft;
			padding: $pad 0;
		}
		.field_name,
		.field_phone,
		.form_button {
			width: 500px;
			display: block;
			margin: 15px auto;
			input {
				width: 100%;
			}
		}
		.field_name,
		.field_phone {
			margin-bottom: 50px;
		}
		.close {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 10px;
			height: 10px;
			background-image: url(../images/icon_close_big.png);
			background-size: contain;
			background-position: center;
			cursor: pointer;
		}
		.image {
			float: left;
			margin-right: $pad;
		}
		.text {
			float: left;
			.mid_h {
				padding-top: 5px;
			}
			p {
				font-size: $fs_12;
				padding: 10px 0;
			}
		}
	}
}
