@font-face {
  font-family: Light;
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: Regular;
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: Medium;
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  /*src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");*/
  font-style: normal;
  font-weight: 100; }
@font-face {
  font-family: Bold;
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.part_1 .wrapper:after, .part_1 .wrapper .part_1_logo .top:after, .part_2 .part_2_grid:after, .part_3 .part_3_grid:after, .part_4 .top:after, .part_4 .top .ranges:after, .part_5 .part_5_left:after, .part_5 .part_5_right:after, .part_6 .part_6_grid:after, .part_7 .part_7_tabs:after, .part_7 .part_7_tabs ul:after, .part_7 .part_7_tabs .part_7_tabs_wrapper:after, footer .wrapper:after, footer .footer_logo:after, .modal_window .container:after {
  content: '';
  display: block;
  clear: both; }

.form_button, .part_4 .bottom form button, .part_9 form button, .part_8 .slick-prev,
.part_8 .slick-next, .part_8 .slick-dots li button {
  background-image: none;
  background-color: transparent;
  border: none;
  font-size: 0; }

.part_2 .part_2_grid .picture .bg_img {
  position: relative; }
  .part_2 .part_2_grid .picture .bg_img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(86, 123, 167, 0.7); }

.part_2 .part_2_grid .picture .bg_img, .part_3 .part_3_grid .cell .bg_img, .part_6 .part_6_grid .cell .bg_img, .modal_window .modal_content .modal_grid .cell .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .part_2 .part_2_grid .picture .bg_img img, .part_3 .part_3_grid .cell .bg_img img, .part_6 .part_6_grid .cell .bg_img img, .modal_window .modal_content .modal_grid .cell .bg_img img {
    display: none; }

.form_button, .part_4 .bottom form button, .part_9 form button, .part_1 .wrapper .button, .part_2 .part_2_grid .text .small_wrapper .button {
  background: -webkit-linear-gradient(0deg, #f96232 0%, #fb7f41 100%);
  background: linear-gradient(90deg, #f96232 0%, #fb7f41 100%);
  position: relative; }
  .form_button > *, .part_4 .bottom form button > *, .part_9 form button > *, .part_1 .wrapper .button > *, .part_2 .part_2_grid .text .small_wrapper .button > * {
    position: relative; }
  .form_button .button_hover, .part_4 .bottom form button .button_hover, .part_9 form button .button_hover, .part_1 .wrapper .button .button_hover, .part_2 .part_2_grid .text .small_wrapper .button .button_hover {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); }

.part_1 .wrapper .part_1_contacts .part_1_button, .part_8 .single_slide .right .part_8_button {
  text-align: center;
  border: 2px solid #ff6633;
  border-radius: 10px;
  cursor: pointer;
  position: relative; }
  .part_1 .wrapper .part_1_contacts .part_1_button > *, .part_8 .single_slide .right .part_8_button > * {
    position: relative; }
  .part_1 .wrapper .part_1_contacts .part_1_button:hover, .part_8 .single_slide .right .part_8_button:hover {
    color: white; }
  .part_1 .wrapper .part_1_contacts .part_1_button .button_hover, .part_8 .single_slide .right .part_8_button .button_hover {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(0deg, #f96232 0%, #fb7f41 100%);
    background: linear-gradient(90deg, #f96232 0%, #fb7f41 100%); }

.part_8 .single_slide .popup .scroll-bar, .modal_window .modal_content .scroll-bar:before {
  background-color: #cccccc; }

.part_8 .single_slide .popup .scroll-bar .thumb, .modal_window .modal_content .scroll-bar .thumb:before {
  background-color: #ff6633; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: Regular;
  color: #333; }
  body.hidden {
    position: fixed;
    left: 0; }

* {
  box-sizing: border-box;
  background-repeat: no-repeat; }
  *:focus {
    outline: none; }

a:link, a:visited, a:active {
  text-decoration: none; }
a:focus {
  outline: none; }

ul {
  list-style-type: none;
  padding: 0; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.wrapper {
  position: relative;
  width: 1100px;
  padding: 0 20px;
  margin: auto; }

.button {
  display: inline-block;
  height: 55px;
  line-height: 55px;
  font-family: Medium;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 2px 6px 0px #ff6633;
  cursor: pointer; }

.big_h {
  text-align: center;
  font-family: Medium;
  font-weight: 600;
  font-size: 30px; }

.mid_h {
  font-family: Medium;
  font-weight: 600;
  font-size: 24px; }

.small_h {
  font-family: Medium;
  font-weight: 600;
  font-size: 20px; }

.tiny_h {
  font-family: Medium;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase; }

.section_bg {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1900px auto; }

.trans_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.right-diag-rad {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.left-diag-rad, .part_3 .part_3_grid .cell, .part_6 .part_6_grid .cell .bg_img, .modal_window .modal_content .modal_grid .cell .bg_img {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.right-bot-rad {
  border-bottom-right-radius: 10px; }

.left-bot-rad {
  border-bottom-left-radius: 10px; }

form {
  font-size: 0; }

.field_name,
.field_phone {
  position: relative;
  display: inline-block;
  margin-right: 20px; }
  .field_name input,
  .field_phone input {
    padding: 0 10px 0 50px;
    display: inline-block;
    width: 360px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #666;
    box-shadow: none; }
    .field_name input::-webkit-input-placeholder,
    .field_phone input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 14px;
      color: #ccc; }
    .field_name input::-moz-placeholder,
    .field_phone input::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 14px;
      color: #ccc; }
    .field_name input:-ms-input-placeholder,
    .field_phone input:-ms-input-placeholder {
      /* IE 10+ */
      font-size: 14px;
      color: #ccc; }
    .field_name input:-moz-placeholder,
    .field_phone input:-moz-placeholder {
      /* Firefox 18- */
      font-size: 14px;
      color: #ccc; }
  .field_name:before,
  .field_phone:before {
    content: '';
    position: absolute;
    width: 15px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px; }

.field_name:before {
  height: 15px;
  background-image: url(../images/icon_user.png); }

.field_phone:before {
  height: 7px;
  background-image: url(../images/icon_tel_gray.png); }

.mousedown {
  -webkit-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
          transform: translate(1px, 2px); }

.form_button, .part_4 .bottom form button, .part_9 form button {
  display: inline-block;
  font-size: 16px;
  width: 300px; }

.validator_message {
  display: none;
  position: absolute;
  padding: 5px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #f4c430;
  font-size: 12px;
  bottom: -5px;
  right: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%); }
  .validator_message:before {
    content: '';
    background-color: #f4c430;
    position: absolute;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    right: 30px;
    top: -8px; }

.has-error .validator_message {
  display: block; }

#google_map .gm-style > div:not(:first-of-type) {
  display: none; }

header {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: white;
  z-index: 3; }
  header .header_nav {
    display: table; }
    header .header_nav .header_nav_items_wrapper {
      display: table-row; }
      header .header_nav .header_nav_items_wrapper .header_nav_item {
        display: table-cell;
        font-family: Regular;
        font-size: 18px;
        text-align: center; }
        header .header_nav .header_nav_items_wrapper .header_nav_item a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 40px;
          color: black; }
        header .header_nav .header_nav_items_wrapper .header_nav_item:first-of-type {
          text-align: left; }
        header .header_nav .header_nav_items_wrapper .header_nav_item:last-of-type {
          text-align: right; }

.part_1 {
  position: relative;
  height: 780px;
  padding-top: 40px;
  background-origin: content-box;
  background-image: url(../images/bg_top.jpg);
  color: white; }
  .part_1:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.7); }
  .part_1 .wrapper {
    margin-top: 40px;
    text-align: center; }
    .part_1 .wrapper .part_1_logo {
      float: left;
      width: 250px; }
      .part_1 .wrapper .part_1_logo .top {
        margin-bottom: 20px; }
        .part_1 .wrapper .part_1_logo .top .picture {
          float: left;
          margin-right: 20px; }
          .part_1 .wrapper .part_1_logo .top .picture img {
            display: block;
            width: auto;
            height: 70px; }
        .part_1 .wrapper .part_1_logo .top .text {
          float: left;
          line-height: 70px;
          font-family: Medium;
          font-weight: 600;
          font-size: 24px; }
      .part_1 .wrapper .part_1_logo .bottom {
        text-align: left;
        font-size: 16px; }
    .part_1 .wrapper .part_1_contacts {
      float: right;
      text-align: right; }
      .part_1 .wrapper .part_1_contacts .tel_number {
        margin-bottom: 15px;
        font-family: Medium;
        font-weight: 600;
        font-size: 24px; }
      .part_1 .wrapper .part_1_contacts .part_1_button {
        display: inline-block;
        height: 40px;
        padding: 0 20px; }
        .part_1 .wrapper .part_1_contacts .part_1_button img {
          position: relative;
          top: 20%;
          width: 15px;
          height: auto;
          margin-right: 5px; }
        .part_1 .wrapper .part_1_contacts .part_1_button span {
          position: relative;
          top: 25%; }
    .part_1 .wrapper .part_1_text {
      clear: both;
      padding-top: 180px;
      margin-bottom: 180px;
      text-align: center;
      line-height: 150%;
      font-family: Medium;
      font-weight: 600;
      font-size: 30px; }
    .part_1 .wrapper .button {
      padding: 0 30px; }

.part_2 {
  padding-bottom: 100px; }
  .part_2 .big_h {
    padding: 60px 0; }
  .part_2 .part_2_grid > * {
    float: left;
    width: 50%;
    height: 300px; }
  .part_2 .part_2_grid .picture {
    position: relative;
    overflow: hidden; }
    .part_2 .part_2_grid .picture .text {
      position: relative;
      font-family: Medium;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      line-height: 300px;
      color: white; }
  .part_2 .part_2_grid .text {
    position: relative; }
    .part_2 .part_2_grid .text .small_wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      padding: 0 55px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      text-align: center; }
      .part_2 .part_2_grid .text .small_wrapper p {
        font-size: 16px;
        white-space: pre-wrap;
        line-height: 150%;
        margin-bottom: 20px; }
      .part_2 .part_2_grid .text .small_wrapper .button {
        padding: 0 70px; }

.part_3 {
  position: relative;
  padding-bottom: 65px; }
  .part_3 .trans_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg_sect_3.jpg);
    opacity: 0.25; }
  .part_3 .big_h {
    padding: 45px 0; }
  .part_3 .part_3_grid {
    margin: -10px; }
    .part_3 .part_3_grid .cell {
      position: relative;
      width: 250px;
      height: 140px;
      float: left;
      margin: 10px;
      overflow: hidden;
      cursor: pointer; }
      .part_3 .part_3_grid .cell .hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/hover.png);
        opacity: 0; }

.part_4 {
  position: relative;
  padding-bottom: 60px; }
  .part_4 .big_h {
    padding-top: 55px;
    padding-bottom: 30px; }
  .part_4 p {
    text-align: center;
    line-height: 150%;
    font-size: 16px;
    color: #666; }
  .part_4 .section_bg {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/bg_calc.jpg);
    background-size: 1900px auto; }
  .part_4 .top {
    padding-left: 20px;
    padding-top: 90px; }
    .part_4 .top .ranges {
      padding-bottom: 20px;
      width: 600px;
      float: left; }
      .part_4 .top .ranges .range_h {
        margin-top: 45px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #666; }
      .part_4 .top .ranges .form_range {
        position: relative;
        height: 13px;
        cursor: pointer;
        margin-bottom: 10px; }
        .part_4 .top .ranges .form_range .line {
          position: relative;
          top: 7px;
          height: 3px;
          background-color: #e7e7e7; }
        .part_4 .top .ranges .form_range .ui-slider-handle {
          position: relative;
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #567ba7; }
        .part_4 .top .ranges .form_range .nums {
          position: absolute;
          width: 100%;
          top: 20px;
          font-size: 0;
          color: #666; }
          .part_4 .top .ranges .form_range .nums .num {
            width: 33%;
            display: inline-block;
            font-size: 12px; }
            .part_4 .top .ranges .form_range .nums .num.num_1 {
              text-align: left; }
          .part_4 .top .ranges .form_range .nums.nums_price {
            width: 100%;
            text-align: center; }
            .part_4 .top .ranges .form_range .nums.nums_price .num {
              text-align: center;
              width: 33.33%; }
              .part_4 .top .ranges .form_range .nums.nums_price .num:first-of-type {
                text-align: left; }
              .part_4 .top .ranges .form_range .nums.nums_price .num:nth-of-type(2) {
                -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                        transform: translateX(10px); }
              .part_4 .top .ranges .form_range .nums.nums_price .num:last-of-type {
                text-align: right;
                -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                        transform: translateX(10px); }
          .part_4 .top .ranges .form_range .nums.nums_month {
            width: 101%;
            overflow: hidden;
            white-space: nowrap;
            text-align: left; }
            .part_4 .top .ranges .form_range .nums.nums_month .num {
              text-align: left; }
              .part_4 .top .ranges .form_range .nums.nums_month .num.num_1 {
                -webkit-transform: translateX(3px);
                    -ms-transform: translateX(3px);
                        transform: translateX(3px); }
              .part_4 .top .ranges .form_range .nums.nums_month .num.num_2 {
                -webkit-transform: translateX(2px);
                    -ms-transform: translateX(2px);
                        transform: translateX(2px); }
              .part_4 .top .ranges .form_range .nums.nums_month .num.num_3 {
                -webkit-transform: translateX(1px);
                    -ms-transform: translateX(1px);
                        transform: translateX(1px); }
    .part_4 .top .final_amount {
      text-align: left;
      float: right;
      width: 370px; }
      .part_4 .top .final_amount .text .title {
        font-family: Light;
        font-size: 16px;
        color: #666; }
      .part_4 .top .final_amount .text .calc_summ {
        font-family: Medium;
        font-weight: 600;
        font-size: 30px;
        line-height: 150%; }
      .part_4 .top .final_amount .text .calc_month {
        font-size: 14px; }
      .part_4 .top .final_amount .pictures {
        position: relative;
        height: 150px; }
        .part_4 .top .final_amount .pictures .product_img {
          position: absolute; }
          .part_4 .top .final_amount .pictures .product_img.product_img_1 {
            top: 65px;
            right: 105px; }
          .part_4 .top .final_amount .pictures .product_img.product_img_2 {
            display: none;
            top: 30px;
            right: 190px; }
          .part_4 .top .final_amount .pictures .product_img.product_img_3 {
            display: none;
            top: 110px;
            right: 250px; }
          .part_4 .top .final_amount .pictures .product_img.product_img_4 {
            display: none;
            top: 105px;
            right: 50px; }
          .part_4 .top .final_amount .pictures .product_img.product_img_5 {
            display: none;
            top: 115px;
            right: 160px; }
  .part_4 .bottom {
    padding-left: 20px;
    clear: both; }
    .part_4 .bottom .mid_h {
      padding-top: 50px; }
    .part_4 .bottom p {
      padding-bottom: 20px;
      padding-top: 10px;
      text-align: left; }
    .part_4 .bottom form button {
      width: 280px; }

.part_5 {
  position: relative;
  height: 160px;
  background-image: url(../images/bg_sect_5.jpg);
  background-position: bottom; }
  .part_5:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 91, 150, 0.67); }
  .part_5 .wrapper {
    position: relative;
    height: 100%; }
    .part_5 .wrapper > div {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .part_5 .part_5_left {
    left: 0;
    width: 500px;
    color: white; }
    .part_5 .part_5_left .picture {
      float: left;
      margin-right: 20px; }
      .part_5 .part_5_left .picture img {
        display: block;
        width: auto;
        height: 80px; }
    .part_5 .part_5_left .text {
      margin-top: 10px;
      font-family: Medium;
      font-weight: 600;
      font-size: 24px; }
  .part_5 .part_5_right {
    right: 0; }
    .part_5 .part_5_right .part_5_button {
      display: inline-block;
      height: 54px;
      padding-right: 25px;
      padding-left: 10px;
      text-align: center;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      -webkit-transition-duration: 0.4s;
              transition-duration: 0.4s; }
      .part_5 .part_5_right .part_5_button:hover {
        color: #6699cc;
        background-color: white; }
      .part_5 .part_5_right .part_5_button img {
        position: relative;
        top: 15%;
        width: auto;
        height: 34px;
        margin-right: 5px; }
      .part_5 .part_5_right .part_5_button span {
        font-size: 16px;
        position: relative;
        top: -5%; }

.part_6 {
  position: relative;
  padding: 60px 0; }
  .part_6 .trans_bg {
    background-image: url(../images/bg_sect_6.jpg);
    opacity: 0.11; }
  .part_6 .big_h {
    padding-bottom: 45px; }
  .part_6 .part_6_grid {
    margin: -10px; }
    .part_6 .part_6_grid .cell {
      float: left;
      width: 340px;
      min-height: 375px;
      height: auto;
      margin: 10px; }
      .part_6 .part_6_grid .cell .bg_img {
        position: relative;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        overflow: hidden; }
        .part_6 .part_6_grid .cell .bg_img img {
          display: none; }
      .part_6 .part_6_grid .cell .small_h {
        text-align: left;
        margin-bottom: 20px;
        line-height: 150%; }
      .part_6 .part_6_grid .cell p {
        font-size: 16px;
        line-height: 21px; }

.part_7 {
  padding: 20px 0; }
  .part_7 .big_h {
    padding-bottom: 20px; }
  .part_7 .part_7_tabs ul {
    float: left;
    margin-right: 20px; }
    .part_7 .part_7_tabs ul li {
      position: relative;
      width: 300px;
      height: 60px;
      padding-left: 10px;
      margin-bottom: 10px;
      border: 1px solid #b3b3b3;
      line-height: 60px; }
      .part_7 .part_7_tabs ul li a {
        display: block;
        width: 100%;
        height: 100%;
        color: black; }
      .part_7 .part_7_tabs ul li:focus {
        outline: none; }
      .part_7 .part_7_tabs ul li.ui-state-active {
        background-color: #567ba7; }
        .part_7 .part_7_tabs ul li.ui-state-active a {
          color: white; }
      .part_7 .part_7_tabs ul li:before {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        width: 10px;
        height: 15px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background-image: url(../images/icon_point_arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; }
  .part_7 .part_7_tabs .part_7_tabs_wrapper {
    width: 730px;
    float: right;
    height: 450px; }
  .part_7 .part_7_tabs .part_7_single_tab {
    text-align: justify;
    white-space: pre-line; }
    .part_7 .part_7_tabs .part_7_single_tab .tiny_h {
      padding-bottom: 20px; }

.part_8 {
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px
  /*.slick-prev,
  .slick-next {
  	@extend %clear_default_button_style;
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	bottom: 25%;
  	border-radius: 50%;
  	background-image: url(../images/icon_arrow.png);
  	background-size: contain;
  	cursor: pointer;
  	z-index: 1;
  	&:hover {
  		background-color: rgba(0, 0, 0, 0.2);
  	}
  }
  .slick-prev {
  	left: 0;
  	transform: rotate(180deg)
  }
  .slick-next {
  	right: 0
  }*/ }
  .part_8 * {
    position: relative; }
  .part_8 .trans_bg {
    background-image: url(../images/bg_sect_8.jpg);
    opacity: 0.15; }
  .part_8 .big_h {
    padding-bottom: 20px; }
  .part_8 p.text {
    font-size: 18px;
    line-height: 150%; }
  .part_8 .slider {
    text-align: center; }
  .part_8 .slick-prev,
  .part_8 .slick-next {
    position: absolute;
    width: 21px;
    height: 19px;
    background-image: url(../images/icon_quote.png);
    background-size: contain;
    top: 60px;
    cursor: pointer; }
  .part_8 .slick-prev {
    left: 0; }
  .part_8 .slick-next {
    right: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .part_8 .slick-dots {
    display: inline-block; }
    .part_8 .slick-dots li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 3px;
      border-radius: 50%;
      background-color: #333;
      cursor: pointer; }
      .part_8 .slick-dots li button {
        width: 100%;
        height: 100%; }
      .part_8 .slick-dots li.slick-active {
        background-color: #ff6633; }
  .part_8 .single_slide {
    position: relative;
    padding: 40px 40px 5px 40px
    /*&:before,
    &:after {
    	content: '';
    	position: absolute;
    	width: 21px;
    	height: 19px;
    	background-image: url(../images/icon_quote.png);
    	background-size: contain;
    	top: $big_padding + $pad;
    }
    &:before {
    	left: 0;
    }
    &:after {
    	right: 0;
    	transform: rotate(180deg)
    }*/ }
    .part_8 .single_slide .mid_h {
      text-align: left;
      padding: 20px 0; }
      .part_8 .single_slide .mid_h span {
        font-size: 18px; }
    .part_8 .single_slide .text {
      font-size: 18px;
      text-align: justify;
      padding-bottom: 20px;
      color: #666; }
    .part_8 .single_slide .right {
      padding-top: 20px;
      text-align: right; }
      .part_8 .single_slide .right .part_8_button {
        display: inline-block;
        height: 50px;
        margin-left: 20px;
        padding: 0 10px;
        font-size: 18px;
        vertical-align: baseline;
        line-height: 48px; }
    .part_8 .single_slide .popup {
      display: none;
      position: absolute;
      top: 0;
      bottom: 80px;
      right: 30px;
      left: 40%;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background-color: white;
      z-index: 2;
      text-align: left; }
      .part_8 .single_slide .popup .popup_wrapper {
        margin: 10px;
        height: 90%;
        overflow: hidden; }
      .part_8 .single_slide .popup:before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: white;
        position: absolute;
        right: 50px;
        bottom: -10px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2); }
      .part_8 .single_slide .popup .scroll-bar {
        width: 3px;
        position: absolute;
        top: 25px;
        bottom: 15px;
        right: 5px;
        z-index: 1; }
        .part_8 .single_slide .popup .scroll-bar .thumb {
          position: relative; }
      .part_8 .single_slide .popup .tiny_h {
        text-transform: none;
        margin-bottom: 10px; }
      .part_8 .single_slide .popup ul {
        margin: 0;
        position: relative;
        font-size: 14px;
        color: #999;
        line-height: 150%; }
      .part_8 .single_slide .popup .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        background-image: url(../images/icon_close.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }

.part_9 {
  padding: 50px 0; }
  .part_9 p {
    padding: 20px 0 40px 0;
    font-size: 16px;
    color: #666;
    text-align: center; }

.map {
  height: 370px; }
  .map #google_map {
    position: absolute;
    width: 100%;
    height: 370px; }
  .map .wrapper {
    position: relative; }
  .map .big_h {
    padding: 40px 0 20px 0; }
  .map p {
    text-align: center;
    font-size: 18px; }
  .map .info {
    width: 490px;
    height: 120px;
    position: absolute;
    top: 170px;
    right: 20px;
    padding: 30px 30px 40px 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    background-color: white; }
    .map .info .adress {
      font-size: 16px;
      padding-bottom: 20px; }
    .map .info .contact {
      position: relative;
      display: inline-block;
      padding-left: 25px;
      font-size: 22px; }
      .map .info .contact.cont_1 {
        margin-right: 10px; }
      .map .info .contact:before {
        content: '';
        width: 19px;
        height: 18px;
        position: absolute;
        top: 2px;
        left: 0;
        background-image: url(../images/icon_tel_color.png);
        background-size: contain; }

footer {
  padding: 50px 0; }
  footer .footer_logo {
    float: left;
    width: 240px; }
    footer .footer_logo .picture {
      float: left;
      margin-right: 20px; }
      footer .footer_logo .picture img {
        display: block;
        width: auto;
        height: 60px; }
    footer .footer_logo .text {
      float: left;
      line-height: 60px;
      font-family: Medium;
      font-weight: 600;
      font-size: 18px; }
  footer .adress {
    float: left;
    width: 400px;
    text-align: left;
    white-space: pre-line;
    line-height: 150%;
    font-size: 14px;
    color: #666; }
  footer .socials {
    float: right; }
    footer .socials .top {
      font-size: 0;
      margin-bottom: 20px;
      text-align: right; }
      footer .socials .top img {
        width: 35px;
        height: 35px;
        margin-left: 3px; }
    footer .socials .bottom {
      text-align: right;
      font-size: 14px;
      color: #999; }

.modal_window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }
  .modal_window .modal_shim {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .modal_window.modal_photo {
    background-color: white; }
    .modal_window.modal_photo .modal_image {
      display: block;
      margin: auto;
      width: 100%;
      height: auto; }
    .modal_window.modal_photo .scroll-bar {
      display: none !important; }
  .modal_window .modal_content {
    z-index: 1;
    position: relative;
    height: 100%; }
    .modal_window .modal_content .modal_wrapper {
      padding: 100px 0 50px 0;
      height: 100%; }
    .modal_window .modal_content .wrapper {
      position: relative;
      height: 100%;
      overflow: hidden; }
    .modal_window .modal_content .big_h {
      padding-bottom: 20px; }
    .modal_window .modal_content p.text {
      text-align: center;
      line-height: 150%;
      font-size: 16px;
      color: #666;
      padding-bottom: 10px; }
    .modal_window .modal_content .modal_grid {
      margin: -10px;
      text-align: center;
      font-size: 0; }
      .modal_window .modal_content .modal_grid .cell {
        display: inline-block;
        width: 340px;
        height: 375px;
        margin: 50px 10px 10px 10px; }
        .modal_window .modal_content .modal_grid .cell .bg_img {
          position: relative;
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
          overflow: hidden; }
          .modal_window .modal_content .modal_grid .cell .bg_img img {
            display: none; }
        .modal_window .modal_content .modal_grid .cell .small_h {
          text-align: left;
          margin-bottom: 20px;
          line-height: 150%; }
        .modal_window .modal_content .modal_grid .cell p {
          text-align: left;
          font-size: 16px;
          line-height: 120%;
          margin-bottom: 20px;
          line-height: 150%;
          color: #666;
          white-space: pre-line; }
        .modal_window .modal_content .modal_grid .cell .price {
          width: 100%;
          display: block;
          font-family: Medium;
          font-weight: 600;
          font-size: 18px;
          text-align: left; }
          .modal_window .modal_content .modal_grid .cell .price span {
            vertical-align: top; }
          .modal_window .modal_content .modal_grid .cell .price li {
            display: block;
            -webkit-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                    transform: translateY(-100%);
            padding-left: 80px;
            margin-bottom: 5px; }
    .modal_window .modal_content .bottom {
      padding-bottom: 40px; }
      .modal_window .modal_content .bottom .big_h {
        padding-top: 40px;
        padding-bottom: 20px; }
      .modal_window .modal_content .bottom p {
        padding-bottom: 20px;
        text-align: center; }
    .modal_window .modal_content .scroll-bar {
      position: fixed;
      width: 20px;
      right: 10px;
      z-index: 1;
      cursor: pointer; }
      .modal_window .modal_content .scroll-bar:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto; }
      .modal_window .modal_content .scroll-bar .thumb {
        position: relative;
        width: 100%; }
        .modal_window .modal_content .scroll-bar .thumb:before {
          content: '';
          position: absolute;
          width: 3px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
    .modal_window .modal_content .close {
      position: fixed;
      right: 5px;
      top: 20px;
      width: 30px;
      height: 30px;
      background-image: url(../images/icon_close_big.png);
      background-size: contain;
      background-position: center;
      cursor: pointer; }
  .modal_window .transparent_shim {
    background-color: rgba(0, 0, 0, 0.65); }
  .modal_window .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 560px;
    border-radius: 10px;
    background-color: white;
    padding: 30px 20px 20px 20px;
    margin: auto; }
    .modal_window .container .mid_h {
      text-align: center; }
    .modal_window .container p {
      text-align: center;
      color: #666;
      padding: 20px 0; }
    .modal_window .container .field_name,
    .modal_window .container .field_phone,
    .modal_window .container .form_button,
    .modal_window .container .part_4 .bottom form button,
    .part_4 .bottom form .modal_window .container button,
    .modal_window .container .part_9 form button,
    .part_9 form .modal_window .container button {
      width: 500px;
      display: block;
      margin: 15px auto; }
      .modal_window .container .field_name input,
      .modal_window .container .field_phone input,
      .modal_window .container .form_button input,
      .modal_window .container .part_4 .bottom form button input,
      .part_4 .bottom form .modal_window .container button input,
      .modal_window .container .part_9 form button input,
      .part_9 form .modal_window .container button input {
        width: 100%; }
    .modal_window .container .field_name,
    .modal_window .container .field_phone {
      margin-bottom: 50px; }
    .modal_window .container .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 10px;
      height: 10px;
      background-image: url(../images/icon_close_big.png);
      background-size: contain;
      background-position: center;
      cursor: pointer; }
    .modal_window .container .image {
      float: left;
      margin-right: 20px; }
    .modal_window .container .text {
      float: left; }
      .modal_window .container .text .mid_h {
        padding-top: 5px; }
      .modal_window .container .text p {
        font-size: 12px;
        padding: 10px 0; }

/*# sourceMappingURL=style.css.map */